-- Run this script in your Supabase SQL Editor to add the missing columns

ALTER TABLE contacts
ADD COLUMN IF NOT EXISTS whatsapp_number text,
ADD COLUMN IF NOT EXISTS service text,
ADD COLUMN IF NOT EXISTS notes text;
-- Fix delete not working in Sales CRM due to foreign key constraints
-- This drops the old constraints and adds new ones with ON DELETE CASCADE

ALTER TABLE receipts DROP CONSTRAINT IF EXISTS receipts_contact_id_fkey;
ALTER TABLE receipts ADD CONSTRAINT receipts_contact_id_fkey 
  FOREIGN KEY (contact_id) REFERENCES contacts(id) ON DELETE CASCADE;

ALTER TABLE invoices DROP CONSTRAINT IF EXISTS invoices_contact_id_fkey;
ALTER TABLE invoices ADD CONSTRAINT invoices_contact_id_fkey 
  FOREIGN KEY (contact_id) REFERENCES contacts(id) ON DELETE CASCADE;

ALTER TABLE proposals DROP CONSTRAINT IF EXISTS proposals_contact_id_fkey;
ALTER TABLE proposals ADD CONSTRAINT proposals_contact_id_fkey 
  FOREIGN KEY (contact_id) REFERENCES contacts(id) ON DELETE CASCADE;
-- Fix for disappearing leads (clients) in Sales CRM
-- This updates the RLS policy for the contacts table so sales reps can still see clients they transferred

-- Drop existing policies if needed (Note: change the policy names if they are different in your database)
-- DROP POLICY IF EXISTS "Sales can view their contacts" ON contacts;

CREATE POLICY "Sales can view their contacts" ON contacts
FOR SELECT USING (
  -- Admin or internal can see all, or sales can see their assigned contacts regardless of type
  auth.uid() IN (SELECT id FROM users WHERE role IN ('admin', 'internal')) 
  OR 
  (auth.uid() IN (SELECT id FROM users WHERE role = 'sales') AND assigned_sales_id = auth.uid())
);
-- Function to safely delete a contact and cascade delete its documents
-- This runs with elevated privileges (SECURITY DEFINER) to bypass RLS issues
CREATE OR REPLACE FUNCTION delete_contact(contact_id UUID)
RETURNS void AS $$
DECLARE
  v_type TEXT;
  v_role TEXT;
BEGIN
  -- Get the current user's role
  SELECT role INTO v_role FROM public.users WHERE id = auth.uid();
  
  -- Get the contact's type
  SELECT type INTO v_type FROM public.contacts WHERE id = contact_id;
  
  -- Enforcement: Sales reps can only delete leads
  IF v_role = 'sales' AND v_type = 'client' THEN
    RAISE EXCEPTION 'Sales representatives can only delete leads, not clients.';
  END IF;

  -- Cascade delete related documents
  DELETE FROM public.receipts WHERE public.receipts.contact_id = delete_contact.contact_id;
  DELETE FROM public.invoices WHERE public.invoices.contact_id = delete_contact.contact_id;
  DELETE FROM public.proposals WHERE public.proposals.contact_id = delete_contact.contact_id;
  
  -- Delete the contact
  DELETE FROM public.contacts WHERE id = delete_contact.contact_id;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;
-- Function to automatically confirm email when an admin approves a user
CREATE OR REPLACE FUNCTION public.handle_admin_approval()
RETURNS trigger AS $$
BEGIN
  -- Check if the status is changing to 'approved'
  IF NEW.status = 'approved' AND (OLD.status IS NULL OR OLD.status != 'approved') THEN
    -- Update the auth.users table to confirm the email
    UPDATE auth.users
    SET email_confirmed_at = NOW()
    WHERE id = NEW.id;
  END IF;
  RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- Create the trigger on the public.users table
DROP TRIGGER IF EXISTS on_admin_approval ON public.users;
CREATE TRIGGER on_admin_approval
  AFTER UPDATE OF status ON public.users
  FOR EACH ROW
  EXECUTE FUNCTION public.handle_admin_approval();
-- Create app_settings table to store global configurations
CREATE TABLE IF NOT EXISTS app_settings (
  id INT PRIMARY KEY DEFAULT 1,
  next_invoice_number INT NOT NULL DEFAULT 101,
  next_receipt_number INT NOT NULL DEFAULT 101,
  CONSTRAINT single_row CHECK (id = 1)
);

-- Initialize with default values if it doesn't exist
INSERT INTO app_settings (id, next_invoice_number, next_receipt_number) 
VALUES (1, 101, 101) 
ON CONFLICT (id) DO NOTHING;

-- Set up Row Level Security
ALTER TABLE app_settings ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS "Anyone can view app_settings" ON app_settings;
CREATE POLICY "Anyone can view app_settings" ON app_settings FOR SELECT USING (true);

DROP POLICY IF EXISTS "Admin can update app_settings" ON app_settings;
CREATE POLICY "Admin can update app_settings" ON app_settings FOR UPDATE USING (
  auth.uid() IN (SELECT id FROM users WHERE role = 'admin')
);

-- Trigger function to assign document numbers sequentially and atomically
CREATE OR REPLACE FUNCTION assign_doc_number()
RETURNS TRIGGER AS $$
DECLARE
  v_next_no INT;
BEGIN
  IF TG_TABLE_NAME = 'invoices' THEN
    -- Get the current next number and lock the row to prevent race conditions
    SELECT next_invoice_number INTO v_next_no FROM app_settings WHERE id = 1 FOR UPDATE;
    -- Assign it to the new record
    NEW.invoice_no := v_next_no;
    -- Increment the setting
    UPDATE app_settings SET next_invoice_number = next_invoice_number + 1 WHERE id = 1;
  ELSIF TG_TABLE_NAME = 'receipts' THEN
    SELECT next_receipt_number INTO v_next_no FROM app_settings WHERE id = 1 FOR UPDATE;
    NEW.receipt_no := v_next_no;
    UPDATE app_settings SET next_receipt_number = next_receipt_number + 1 WHERE id = 1;
  END IF;
  
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Apply triggers
DROP TRIGGER IF EXISTS set_invoice_no ON invoices;
CREATE TRIGGER set_invoice_no
BEFORE INSERT ON invoices
FOR EACH ROW EXECUTE FUNCTION assign_doc_number();

DROP TRIGGER IF EXISTS set_receipt_no ON receipts;
CREATE TRIGGER set_receipt_no
BEFORE INSERT ON receipts
FOR EACH ROW EXECUTE FUNCTION assign_doc_number();
